.acf-fc-layout-multi-column {

    .acf-multi-column {
        &-image {
            padding-bottom: 66%;

            .link-title {
                bottom: -100%;
            }

            &:hover {
                .link-title {
                    bottom: 50%;
                }

                .link-overlay {
                    background: rgba($color: #000, $alpha: 0.2);
                }

                .thumbnail {
                    transform: scale(1.1);
                }
            }
        }
    }
}