// SLideshow CUstom Post
.slideshow {

    &-loop-item {
        height: 520px;

        img {
            height: 100%;
            width: auto;
        }
    } 

    &-button {
        width: 31px;
        height: 50px;
        cursor: pointer;

        path {
            fill: $mainBrand;
        }

        &:hover {

            path {
                fill: $lightAccent;
            }
        }
    }
}

@media(max-width: $md) {
    .slideshow-loop-item {
        height: 300px;
    }
}